[Unit]
	Description=Peeqo Auto Start
	After=multi-user.target

[Service]
	Type=idle
	ExecStart=/home/pi/peeqo/scripts/launch.sh
	User=pi

[Install]
	WantedBy=multi-user.target