/* reset */
html, body, div {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* wrapper class for all major divs */
.wrapper {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	height: 480px; /* height defined in main.js*/
	width: 800px;	/* width defined in main.js*/
	overflow: none;
}

#gifWrapper, #videoWrapper {
	background: #000;
}

/* video & gif display divs */
#video, #gif{
	width: 800px;
	height: 480px;
	object-fit: cover;
}

/* svg animated eyes */
#eyeWrapper #eyes {
	width: 100%;
	height: 100%;
	background: white;
}

/* peeqo glasses */
#eyeWrapper #glasses {
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
}

#textWrapper {
	display: block;
}

/* text overlayed on screen */
#textOverlay {
	font-weight: bold;
	font-family: 'Helvetica','sans-serif';
	position: absolute;
	color: #fff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	font-size: 60px;
	z-index:10000;
	top:50%;
	left:50%;
	text-align: center;
	transform: translate(-50%,-50%);
	pointer-events: none;
	text-transform: capitalize;
}

/* Debug hotword link */
#wakeword{
	position: absolute;
	z-index: 100;
}
